body {
    background-image: url(../img/scrambled-eggs.jpg);
}

h3 {
    color:#fff;
    text-shadow: 1px 1px 3px black;

}

.text-danger {
    color:#ff4e50;
    text-shadow: 1px 1px 3px black;

}

.chicken {
    text-shadow: 1px 1px 3px black; 
}
